/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
/* line 6, ../scss/config/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/config/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
/* line 31, ../scss/config/_reset.scss */
*[hidden] {
  display: none;
}

/* line 34, ../scss/config/_reset.scss */
body {
  line-height: 1.5;
}

/* line 37, ../scss/config/_reset.scss */
menu, ol, ul {
  list-style: none;
}

/* line 40, ../scss/config/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/config/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../scss/config/_reset.scss */
hr {
  border-top: 1px solid #f2f2f2;
}

@font-face {
  font-family: 'iconFont';
  src: url("../fonts/iconFont/iconFont.eot?8ingfc");
  src: url("../fonts/iconFont/iconFont.eot?8ingfc#iefix") format("embedded-opentype"), url("../fonts/iconFont/iconFont.ttf?8ingfc") format("truetype"), url("../fonts/iconFont/iconFont.woff?8ingfc") format("woff"), url("../fonts/iconFont/iconFont.svg?8ingfc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 2, ../scss/config/_extends.scss */
.titles, .title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.5rem;
}
/* line 7, ../scss/config/_extends.scss */
.titles strong, .title strong {
  font-size: 4.5rem;
}

/* line 11, ../scss/config/_extends.scss */
.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: auto;
}
/* line 16, ../scss/config/_extends.scss */
.subtitle strong {
  color: #8E24AA;
}

/* line 20, ../scss/config/_extends.scss */
.title-card {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2rem;
}
/* line 25, ../scss/config/_extends.scss */
.title-card strong {
  color: #8E24AA;
}

@media (min-width: 720px) {
  /* line 30, ../scss/config/_extends.scss */
  .titles, .title {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  /* line 33, ../scss/config/_extends.scss */
  .titles strong, .title strong {
    font-size: 6rem;
  }

  /* line 37, ../scss/config/_extends.scss */
  .subtitle {
    font-size: 3rem;
  }
}
@media (min-width: 1140px) {
  /* line 42, ../scss/config/_extends.scss */
  .titles, .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  /* line 45, ../scss/config/_extends.scss */
  .titles strong, .title strong {
    font-size: 8rem;
  }

  /* line 49, ../scss/config/_extends.scss */
  .subtitle {
    font-size: 3.2rem;
  }

  /* line 52, ../scss/config/_extends.scss */
  .title-card {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
/* line 2, ../scss/base/_body.scss */
*,
*:before, *:after {
  box-sizing: border-box;
}

/* line 6, ../scss/base/_body.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../scss/base/_body.scss */
body {
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100%;
  margin-top: 5rem;
  overflow-x: hidden;
}
/* line 21, ../scss/base/_body.scss */
body.home-page {
  margin-top: 0;
}

/* line 25, ../scss/base/_body.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 28, ../scss/base/_body.scss */
p {
  margin-bottom: 1.6rem;
}

/* line 32, ../scss/base/_body.scss */
ol li {
  list-style: decimal;
}

/* line 41, ../scss/base/_body.scss */
.subtitle--small {
  font-size: 1.8rem;
}

/* line 45, ../scss/base/_body.scss */
strong {
  font-weight: bold;
}

/* line 51, ../scss/base/_body.scss */
.breadcrumb {
  background: transparent;
  margin: 2.4rem 0;
}
/* line 54, ../scss/base/_body.scss */
.breadcrumb ul {
  align-items: center;
  display: flex;
}
/* line 58, ../scss/base/_body.scss */
.breadcrumb ul li:after {
  content: '/';
  display: inline-block;
  margin: 0 5px;
}
/* line 64, ../scss/base/_body.scss */
.breadcrumb ul li:last-child:after {
  content: none;
}

/* line 71, ../scss/base/_body.scss */
.slick-dots {
  display: flex;
  justify-content: center;
}
/* line 74, ../scss/base/_body.scss */
.slick-dots li {
  margin: 0 .5rem;
}
/* line 77, ../scss/base/_body.scss */
.slick-dots li.slick-active button {
  height: 1.6rem;
  width: 1.6rem;
}
/* line 82, ../scss/base/_body.scss */
.slick-dots li button {
  background: #E91E62;
  border-radius: 100%;
  border: 0;
  font-size: 0;
  height: .8rem;
  padding: 0;
  transition: .5s all;
  width: .8rem;
}
/* line 91, ../scss/base/_body.scss */
.slick-dots li button:hover {
  background: #F48FB0;
  height: 1.6rem;
  width: 1.6rem;
}

/* line 100, ../scss/base/_body.scss */
.tags ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 103, ../scss/base/_body.scss */
.tags ul li {
  background: #E0F7FA;
  border-radius: 8px;
  font-size: 1.4rem;
  margin-right: .8rem;
  padding: .3rem 1rem;
}
/* line 109, ../scss/base/_body.scss */
.tags ul li:last-child {
  margin-right: 0;
}

@media (min-width: 1140px) {
  /* line 116, ../scss/base/_body.scss */
  body {
    margin-top: 5.8rem;
  }
}
@keyframes moveArrow {
  0% {
    left: -.5rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  50% {
    left: 0rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  100% {
    left: -.5rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}
@-webkit-keyframes moveArrow {
  0% {
    left: -.5rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  50% {
    left: 0rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  100% {
    left: -.5rem;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}
/* line 29, ../scss/base/_links.scss */
a, button {
  color: #01ABC1;
  text-decoration: none;
  outline: 0;
  transition: color .1s ease-out;
}
/* line 35, ../scss/base/_links.scss */
a.button:hover, button.button:hover {
  text-decoration: none;
}
/* line 39, ../scss/base/_links.scss */
a:hover, a:focus, button:hover, button:focus {
  color: #005F64;
  outline: none;
}
@media (max-width: 539px) {
  /* line 39, ../scss/base/_links.scss */
  a:hover, a:focus, button:hover, button:focus {
    text-decoration: none;
  }
}

/* line 48, ../scss/base/_links.scss */
.links {
  font-weight: bold;
  text-decoration: underline;
}

/* line 52, ../scss/base/_links.scss */
.link {
  color: #8E24AA;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
  transition: all .5s;
}
/* line 58, ../scss/base/_links.scss */
.link span[class*="icon-"] {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 1rem;
  position: relative;
  vertical-align: middle;
}
/* line 65, ../scss/base/_links.scss */
.link:hover, .link:focus {
  background: #E0F7FA;
  color: #00828F;
  text-decoration: none;
}
/* line 70, ../scss/base/_links.scss */
.link:hover span[class*="icon-"], .link:focus span[class*="icon-"] {
  right: -.5rem;
  -webkit-animation: moveArrow 0.9s infinite;
  -moz-animation: moveArrow 0.9s infinite;
  -o-animation: moveArrow 0.9s infinite;
  -ms-animation: moveArrow 0.9s infinite;
  animation: moveArrow 0.9s infinite;
}

/* line 4, ../scss/base/_flexbox.scss */
.dc-flex {
  display: flex;
}

/* line 4, ../scss/base/_flexbox.scss */
.dc-inline-flex {
  display: inline-flex;
}

/* line 4, ../scss/base/_flexbox.scss */
.dc-block {
  display: block;
}

/* line 4, ../scss/base/_flexbox.scss */
.dc-inline-block {
  display: inline-block;
}

/* line 4, ../scss/base/_flexbox.scss */
.dc-grid {
  display: grid;
}

/* line 4, ../scss/base/_flexbox.scss */
.dc-none {
  display: none;
}

@media (min-width: 540px) {
  /* line 12, ../scss/base/_flexbox.scss */
  .dc-sm-flex {
    display: flex;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .dc-sm-block {
    display: block;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .dc-sm-grid {
    display: grid;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .dc-sm-none {
    display: none;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .dc-sm-inline-block {
    display: inline-block;
  }
}
@media (min-width: 720px) {
  /* line 21, ../scss/base/_flexbox.scss */
  .dc-md-flex {
    display: flex;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .dc-md-block {
    display: block;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .dc-md-grid {
    display: grid;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .dc-md-none {
    display: none;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .dc-md-inline-block {
    display: inline-block;
  }
}
@media (min-width: 960px) {
  /* line 30, ../scss/base/_flexbox.scss */
  .dc-lg-flex {
    display: flex;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .dc-lg-block {
    display: block;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .dc-lg-grid {
    display: grid;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .dc-lg-none {
    display: none;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .dc-lg-inline-block {
    display: inline-block;
  }
}
@media (min-width: 1140px) {
  /* line 39, ../scss/base/_flexbox.scss */
  .dc-xl-flex {
    display: flex;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .dc-xl-block {
    display: block;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .dc-xl-grid {
    display: grid;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .dc-xl-none {
    display: none;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .dc-xl-inline-block {
    display: inline-block;
  }
}
/* line 48, ../scss/base/_flexbox.scss */
.fdc-row {
  display: row;
}

/* line 48, ../scss/base/_flexbox.scss */
.fdc-row-reverse {
  display: row-reverse;
}

/* line 48, ../scss/base/_flexbox.scss */
.fdc-column {
  display: column;
}

/* line 48, ../scss/base/_flexbox.scss */
.fdc-column-reverse {
  display: column-reverse;
}

/* line 56, ../scss/base/_flexbox.scss */
.jcc-flex-start {
  justify-content: flex-start;
}

/* line 56, ../scss/base/_flexbox.scss */
.jcc-flex-end {
  justify-content: flex-end;
}

/* line 56, ../scss/base/_flexbox.scss */
.jcc-center {
  justify-content: center;
}

/* line 56, ../scss/base/_flexbox.scss */
.jcc-space-between {
  justify-content: space-between;
}

/* line 56, ../scss/base/_flexbox.scss */
.jcc-space-around {
  justify-content: space-around;
}

/* line 56, ../scss/base/_flexbox.scss */
.jcc-space-evenly {
  justify-content: space-evenly;
}

/* line 64, ../scss/base/_flexbox.scss */
.aic-flex-start {
  align-items: flex-start;
}

/* line 64, ../scss/base/_flexbox.scss */
.aic-flex-end {
  align-items: flex-end;
}

/* line 64, ../scss/base/_flexbox.scss */
.aic-center {
  align-items: center;
}

/* line 64, ../scss/base/_flexbox.scss */
.aic-baseline {
  align-items: baseline;
}

/* line 64, ../scss/base/_flexbox.scss */
.aic-stretch {
  align-items: stretch;
}

/* line 72, ../scss/base/_flexbox.scss */
.acc-flex-start {
  align-content: flex-start;
}

/* line 72, ../scss/base/_flexbox.scss */
.acc-flex-end {
  align-content: flex-end;
}

/* line 72, ../scss/base/_flexbox.scss */
.acc-center {
  align-content: center;
}

/* line 72, ../scss/base/_flexbox.scss */
.acc-space-between {
  align-content: space-between;
}

/* line 72, ../scss/base/_flexbox.scss */
.acc-space-around {
  align-content: space-around;
}

/* line 72, ../scss/base/_flexbox.scss */
.acc-stretch {
  align-content: stretch;
}

/* line 80, ../scss/base/_flexbox.scss */
.asc-flex-start {
  align-self: flex-start;
}

/* line 80, ../scss/base/_flexbox.scss */
.asc-flex-end {
  align-self: flex-end;
}

/* line 80, ../scss/base/_flexbox.scss */
.asc-center {
  align-self: center;
}

/* line 80, ../scss/base/_flexbox.scss */
.asc-baseline {
  align-self: baseline;
}

/* line 80, ../scss/base/_flexbox.scss */
.asc-stretch {
  align-self: stretch;
}

/* line 1, ../scss/base/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 16, ../scss/base/_icons.scss */
.icon-calendar:before {
  content: "\e90d";
}

/* line 19, ../scss/base/_icons.scss */
.icon-whatsapp:before {
  content: "\e90e";
}

/* line 22, ../scss/base/_icons.scss */
.icon-search-black:before {
  content: "\e91c";
}

/* line 25, ../scss/base/_icons.scss */
.icon-Arrow-down:before {
  content: "\e900";
}

/* line 28, ../scss/base/_icons.scss */
.icon-Arrow-left-long:before {
  content: "\e901";
}

/* line 31, ../scss/base/_icons.scss */
.icon-Arrow-left:before {
  content: "\e902";
}

/* line 34, ../scss/base/_icons.scss */
.icon-Arrow-right-long:before {
  content: "\e903";
}

/* line 37, ../scss/base/_icons.scss */
.icon-email:before {
  content: "\e904";
}

/* line 40, ../scss/base/_icons.scss */
.icon-facebook:before {
  content: "\e905";
}

/* line 43, ../scss/base/_icons.scss */
.icon-Instagram:before {
  content: "\e906";
}

/* line 46, ../scss/base/_icons.scss */
.icon-left-square:before {
  content: "\e907";
}

/* line 49, ../scss/base/_icons.scss */
.icon-linkedin:before {
  content: "\e908";
}

/* line 52, ../scss/base/_icons.scss */
.icon-location:before {
  content: "\e909";
}

/* line 55, ../scss/base/_icons.scss */
.icon-message:before {
  content: "\e90a";
}

/* line 58, ../scss/base/_icons.scss */
.icon-right-square:before {
  content: "\e90b";
}

/* line 61, ../scss/base/_icons.scss */
.icon-tel:before {
  content: "\e90c";
}

/* line 1, ../scss/base/_grid.scss */
.container {
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 720px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 860px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 1200px;
  }
}

/* line 19, ../scss/base/_grid.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.6rem;
}
@media (max-width: 539px) {
  /* line 19, ../scss/base/_grid.scss */
  .grid {
    grid-gap: 0;
    grid-column-gap: 1.6rem;
  }
}

/* line 30, ../scss/base/_grid.scss */
.grid-1 {
  grid-column: span 1;
}

/* line 30, ../scss/base/_grid.scss */
.grid-2 {
  grid-column: span 2;
}

/* line 30, ../scss/base/_grid.scss */
.grid-3 {
  grid-column: span 3;
}

/* line 30, ../scss/base/_grid.scss */
.grid-4 {
  grid-column: span 4;
}

/* line 30, ../scss/base/_grid.scss */
.grid-5 {
  grid-column: span 5;
}

/* line 30, ../scss/base/_grid.scss */
.grid-6 {
  grid-column: span 6;
}

/* line 30, ../scss/base/_grid.scss */
.grid-7 {
  grid-column: span 7;
}

/* line 30, ../scss/base/_grid.scss */
.grid-8 {
  grid-column: span 8;
}

/* line 30, ../scss/base/_grid.scss */
.grid-9 {
  grid-column: span 9;
}

/* line 30, ../scss/base/_grid.scss */
.grid-10 {
  grid-column: span 10;
}

/* line 30, ../scss/base/_grid.scss */
.grid-11 {
  grid-column: span 11;
}

/* line 30, ../scss/base/_grid.scss */
.grid-12 {
  grid-column: span 12;
}

@media (min-width: 540px) {
  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-1 {
    grid-column: span 1;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-2 {
    grid-column: span 2;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-3 {
    grid-column: span 3;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-4 {
    grid-column: span 4;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-5 {
    grid-column: span 5;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-6 {
    grid-column: span 6;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-7 {
    grid-column: span 7;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-8 {
    grid-column: span 8;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-9 {
    grid-column: span 9;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-10 {
    grid-column: span 10;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-11 {
    grid-column: span 11;
  }

  /* line 37, ../scss/base/_grid.scss */
  .grid-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 720px) {
  /* line 45, ../scss/base/_grid.scss */
  .grid-md-1 {
    grid-column: span 1;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-2 {
    grid-column: span 2;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-3 {
    grid-column: span 3;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-4 {
    grid-column: span 4;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-5 {
    grid-column: span 5;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-6 {
    grid-column: span 6;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-7 {
    grid-column: span 7;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-8 {
    grid-column: span 8;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-9 {
    grid-column: span 9;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-10 {
    grid-column: span 10;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-11 {
    grid-column: span 11;
  }

  /* line 45, ../scss/base/_grid.scss */
  .grid-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 960px) {
  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-1 {
    grid-column: span 1;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-2 {
    grid-column: span 2;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-3 {
    grid-column: span 3;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-4 {
    grid-column: span 4;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-5 {
    grid-column: span 5;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-6 {
    grid-column: span 6;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-7 {
    grid-column: span 7;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-8 {
    grid-column: span 8;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-9 {
    grid-column: span 9;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-10 {
    grid-column: span 10;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-11 {
    grid-column: span 11;
  }

  /* line 53, ../scss/base/_grid.scss */
  .grid-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1140px) {
  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-1 {
    grid-column: span 1;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-2 {
    grid-column: span 2;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-3 {
    grid-column: span 3;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-4 {
    grid-column: span 4;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-5 {
    grid-column: span 5;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-6 {
    grid-column: span 6;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-7 {
    grid-column: span 7;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-8 {
    grid-column: span 8;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-9 {
    grid-column: span 9;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-10 {
    grid-column: span 10;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-11 {
    grid-column: span 11;
  }

  /* line 61, ../scss/base/_grid.scss */
  .grid-xl-12 {
    grid-column: span 12;
  }
}
/* line 1, ../scss/base/_buttons.scss */
.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  padding: 1.75rem 2.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}
@media (min-width: 720px) {
  /* line 1, ../scss/base/_buttons.scss */
  .btn {
    width: auto;
  }
}
/* line 17, ../scss/base/_buttons.scss */
.btn:hover, .btn:focus {
  outline: none;
}
/* line 21, ../scss/base/_buttons.scss */
.btn:hover {
  font-weight: 600;
}
/* line 24, ../scss/base/_buttons.scss */
.btn--primary {
  border: 0.13rem solid #01ABC1;
  background: #01ABC1;
  color: #ffffff;
  position: relative;
}
/* line 69, ../scss/config/_mixins.scss */
.btn--primary:hover {
  color: #ffffff;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 74, ../scss/config/_mixins.scss */
.btn--primary:focus {
  outline: 0;
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn--primary.disabled, .btn--primary:disabled {
  opacity: 0.55;
  color: #9D9D9D;
  background: #ffffff;
  border: 1px solid #9D9D9D;
  box-shadow: none;
  cursor: auto;
}
/* line 86, ../scss/config/_mixins.scss */
.btn--primary.disabled:hover, .btn--primary:disabled:hover {
  background: #ffffff;
}
/* line 89, ../scss/config/_mixins.scss */
.btn--primary.disabled:focus, .btn--primary:disabled:focus {
  box-shadow: none;
}
/* line 27, ../scss/base/_buttons.scss */
.btn--primary:hover, .btn--primary.active {
  background: #00828F;
  border: 0.13rem solid #00828F;
}
/* line 31, ../scss/base/_buttons.scss */
.btn--primary:hover:before, .btn--primary.active:before {
  border-color: #00828F;
}
/* line 35, ../scss/base/_buttons.scss */
.btn--primary.outline {
  background: transparent;
  color: #01ABC1;
  position: relative;
  border: 0.13rem solid #01ABC1;
}
/* line 69, ../scss/config/_mixins.scss */
.btn--primary.outline:hover {
  color: #01ABC1;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 74, ../scss/config/_mixins.scss */
.btn--primary.outline:focus {
  outline: 0;
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn--primary.outline.disabled, .btn--primary.outline:disabled {
  opacity: 0.55;
  color: #9D9D9D;
  background: #ffffff;
  border: 1px solid #9D9D9D;
  box-shadow: none;
  cursor: auto;
}
/* line 86, ../scss/config/_mixins.scss */
.btn--primary.outline.disabled:hover, .btn--primary.outline:disabled:hover {
  background: #ffffff;
}
/* line 89, ../scss/config/_mixins.scss */
.btn--primary.outline.disabled:focus, .btn--primary.outline:disabled:focus {
  box-shadow: none;
}
/* line 38, ../scss/base/_buttons.scss */
.btn--primary.outline:hover, .btn--primary.outline:active {
  text-decoration: underline;
}
/* line 42, ../scss/base/_buttons.scss */
.btn--primary.outline.active {
  border: 0.13rem solid #01ABC1;
}
/* line 47, ../scss/base/_buttons.scss */
.btn--secondary {
  background: #E91E62;
  color: #ffffff;
  position: relative;
}
/* line 69, ../scss/config/_mixins.scss */
.btn--secondary:hover {
  color: #ffffff;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 74, ../scss/config/_mixins.scss */
.btn--secondary:focus {
  outline: 0;
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn--secondary.disabled, .btn--secondary:disabled {
  opacity: 0.55;
  color: #9D9D9D;
  background: #ffffff;
  border: 1px solid #9D9D9D;
  box-shadow: none;
  cursor: auto;
}
/* line 86, ../scss/config/_mixins.scss */
.btn--secondary.disabled:hover, .btn--secondary:disabled:hover {
  background: #ffffff;
}
/* line 89, ../scss/config/_mixins.scss */
.btn--secondary.disabled:focus, .btn--secondary:disabled:focus {
  box-shadow: none;
}
/* line 49, ../scss/base/_buttons.scss */
.btn--secondary.outline {
  background: #ffffff;
  color: #E91E62;
  position: relative;
  border: 0.15rem solid #E91E62;
}
/* line 69, ../scss/config/_mixins.scss */
.btn--secondary.outline:hover {
  color: #E91E62;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 74, ../scss/config/_mixins.scss */
.btn--secondary.outline:focus {
  outline: 0;
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn--secondary.outline.disabled, .btn--secondary.outline:disabled {
  opacity: 0.55;
  color: #9D9D9D;
  background: #ffffff;
  border: 1px solid #9D9D9D;
  box-shadow: none;
  cursor: auto;
}
/* line 86, ../scss/config/_mixins.scss */
.btn--secondary.outline.disabled:hover, .btn--secondary.outline:disabled:hover {
  background: #ffffff;
}
/* line 89, ../scss/config/_mixins.scss */
.btn--secondary.outline.disabled:focus, .btn--secondary.outline:disabled:focus {
  box-shadow: none;
}
/* line 52, ../scss/base/_buttons.scss */
.btn--secondary.outline:hover, .btn--secondary.outline:active {
  opacity: 0.8;
}
/* line 56, ../scss/base/_buttons.scss */
.btn--secondary.btn--whatsapp {
  background: #0bc144;
}
/* line 58, ../scss/base/_buttons.scss */
.btn--secondary.btn--whatsapp:before {
  border-color: #0bc144;
}

/* line 2, ../scss/base/_forms.scss */
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../images/icons/arrow-select.svg") no-repeat center #ffffff;
  background-position-x: calc(100% - 15px);
  background-size: 2.5rem;
  border: 1px solid #01ABC1;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: 400;
  height: 45px;
  padding: 0 15px;
  padding-right: 30px;
  width: 100%;
}
/* line 15, ../scss/base/_forms.scss */
form select:hover, form select:focus {
  outline: none;
}
/* line 20, ../scss/base/_forms.scss */
form p.error {
  color: #F3E5F5;
  font-size: 1.4rem;
  margin: .3rem 0 0;
}
/* line 25, ../scss/base/_forms.scss */
form label {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
/* line 180, ../scss/config/_mixins.scss */
form input::-webkit-input-placeholder {
  color: #01ABC1;
  font-weight: normal;
}
/* line 185, ../scss/config/_mixins.scss */
form input::-moz-placeholder {
  color: #01ABC1;
  font-weight: normal;
}
/* line 190, ../scss/config/_mixins.scss */
form input:-ms-input-placeholder {
  color: #01ABC1;
  font-weight: normal;
}
/* line 180, ../scss/config/_mixins.scss */
form textarea::-webkit-input-placeholder {
  color: #01ABC1;
  font-weight: normal;
}
/* line 185, ../scss/config/_mixins.scss */
form textarea::-moz-placeholder {
  color: #01ABC1;
  font-weight: normal;
}
/* line 190, ../scss/config/_mixins.scss */
form textarea:-ms-input-placeholder {
  color: #01ABC1;
  font-weight: normal;
}
/* line 32, ../scss/base/_forms.scss */
form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid #01ABC1;
  border-radius: 50px;
  color: #7B7B7B;
  font-size: 1.6rem;
  font-weight: 400;
  height: 45px;
  padding: 0 15px;
  width: 100%;
}
/* line 43, ../scss/base/_forms.scss */
form input:hover, form input:focus {
  outline: none;
}
/* line 47, ../scss/base/_forms.scss */
form input[type="checkbox"] {
  border-radius: 8px;
  height: 3rem;
  width: 3rem;
}
/* line 51, ../scss/base/_forms.scss */
form input[type="checkbox"]:checked {
  background: url("../images/icons/checked.svg") no-repeat center;
  background-size: 2rem;
}
/* line 56, ../scss/base/_forms.scss */
form input.error {
  border-color: red;
}
/* line 59, ../scss/base/_forms.scss */
form input[type="radio"] {
  border-radius: 100%;
  height: 3rem;
  position: relative;
  width: 3rem;
}
/* line 64, ../scss/base/_forms.scss */
form input[type="radio"]:checked {
  border-color: #9C27B0;
}
/* line 66, ../scss/base/_forms.scss */
form input[type="radio"]:checked:after {
  opacity: 1;
}
/* line 70, ../scss/base/_forms.scss */
form input[type="radio"]:after {
  background: #9C27B0;
  border-radius: 100%;
  content: '';
  display: block;
  height: 1.5rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 1.5rem;
}
/* line 85, ../scss/base/_forms.scss */
form .form-group {
  margin-bottom: 0;
}
/* line 88, ../scss/base/_forms.scss */
form .field {
  padding-bottom: .5rem;
  position: relative;
}
/* line 91, ../scss/base/_forms.scss */
form .field:before {
  content: '';
  border: 1px solid #01ABC1;
  border-radius: 50px;
  display: block;
  left: 0;
  height: calc(100% - .2rem);
  position: absolute;
  top: .2rem;
  width: 100%;
}
/* line 102, ../scss/base/_forms.scss */
form .field input, form .field textarea, form .field select {
  z-index: 1;
  position: relative;
}
/* line 109, ../scss/base/_forms.scss */
form .form-textarea .field:before {
  border-radius: 8px;
}
/* line 114, ../scss/base/_forms.scss */
form .form-check {
  padding: 0;
}
/* line 116, ../scss/base/_forms.scss */
form .form-check .field {
  display: flex;
  flex-wrap: wrap;
}
/* line 119, ../scss/base/_forms.scss */
form .form-check .field:before {
  border-radius: 8px;
  height: calc(3rem - .2rem);
  top: .5rem;
  width: 3rem;
}
/* line 126, ../scss/base/_forms.scss */
form .form-check.form-radios {
  align-items: center;
}
/* line 129, ../scss/base/_forms.scss */
form .form-check.form-radios .field::before {
  border-radius: 100%;
}
/* line 134, ../scss/base/_forms.scss */
form .form-check label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-left: 1rem;
  max-width: 80%;
  text-transform: inherit;
}
/* line 141, ../scss/base/_forms.scss */
form .form-check a {
  color: #7B7B7B;
  text-decoration: underline;
}
/* line 146, ../scss/base/_forms.scss */
form textarea {
  border: 1px solid #01ABC1;
  border-radius: 8px;
  display: block;
  min-height: 40px;
  width: 100%;
  padding: 1.5rem;
}
/* line 154, ../scss/base/_forms.scss */
form .form-actions {
  display: flex;
  justify-content: center;
}

/* line 159, ../scss/base/_forms.scss */
.message-ok {
  align-items: center;
  background: #E1BEE7;
  border-radius: 8px;
  display: flex;
  margin-bottom: 2rem;
  padding: 1.2rem;
  position: relative;
}
/* line 167, ../scss/base/_forms.scss */
.message-ok .image {
  width: 4rem;
}
/* line 169, ../scss/base/_forms.scss */
.message-ok .image img {
  display: block;
  height: auto;
  width: 100%;
}
/* line 175, ../scss/base/_forms.scss */
.message-ok .text {
  max-width: calc(100% - 4rem);
  padding-left: 1.6rem;
}
/* line 179, ../scss/base/_forms.scss */
.message-ok p {
  margin: 0;
}

/* line 184, ../scss/base/_forms.scss */
.contact .message-ok {
  color: #262626;
}

/* line 3, ../scss/components/_footer.scss */
.home-page .footer__top {
  background: transparent;
  padding-top: 4rem;
}
/* line 8, ../scss/components/_footer.scss */
.home-page .region-inferior {
  background: url("../images/skills/bk-mobile.svg") no-repeat 0 0;
  background-size: cover;
  padding-top: 12rem;
}

/* line 15, ../scss/components/_footer.scss */
.footer__top {
  background: url("../images/background/footer-mb.svg") no-repeat 0 0;
  background-size: cover;
  color: #ffffff;
  padding: 12rem 0 4rem;
}
/* line 21, ../scss/components/_footer.scss */
.footer__top .logo img {
  display: block;
  height: auto;
  margin: 0 auto 2rem;
  width: 160px;
}
/* line 28, ../scss/components/_footer.scss */
.footer__top .share-menu {
  background: transparent;
  display: block;
  padding: 0;
  position: relative;
}
/* line 33, ../scss/components/_footer.scss */
.footer__top .share-menu:before {
  background: #02BBD4;
  content: '';
  display: block;
  height: .2rem;
  margin: 0 auto 2rem;
  width: 4rem;
}
/* line 41, ../scss/components/_footer.scss */
.footer__top .share-menu ul {
  justify-content: center;
}
/* line 45, ../scss/components/_footer.scss */
.footer__top .item {
  margin-bottom: 4rem;
  padding: 0 4rem;
}
/* line 48, ../scss/components/_footer.scss */
.footer__top .item:first-child {
  padding: 0;
}
/* line 51, ../scss/components/_footer.scss */
.footer__top .item .title-menu {
  font-weight: bold;
  margin-bottom: 1.2rem;
}
/* line 56, ../scss/components/_footer.scss */
.footer__top .item__content p {
  margin-bottom: 1rem;
}
/* line 59, ../scss/components/_footer.scss */
.footer__top .item__content [class^="icon-"] {
  display: inline-block;
  font-size: 2.4rem;
  margin-right: 1rem;
  vertical-align: middle;
}
/* line 65, ../scss/components/_footer.scss */
.footer__top .item__content a {
  color: #ffffff;
}
/* line 69, ../scss/components/_footer.scss */
.footer__top .item__content ul li {
  margin-bottom: 1rem;
}
/* line 71, ../scss/components/_footer.scss */
.footer__top .item__content ul li a {
  display: block;
}
/* line 79, ../scss/components/_footer.scss */
.footer__bottom {
  background: #000000;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: center;
}
/* line 85, ../scss/components/_footer.scss */
.footer__bottom p {
  margin: 0;
}

@media (min-width: 720px) {
  /* line 92, ../scss/components/_footer.scss */
  .home-page .region-inferior {
    padding-top: 19rem;
  }

  /* line 97, ../scss/components/_footer.scss */
  .footer__top {
    background: url("../images/background/footer.svg") no-repeat 0 0;
    background-size: cover;
    padding: 10rem 0 2rem;
  }
  /* line 101, ../scss/components/_footer.scss */
  .footer__top .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 106, ../scss/components/_footer.scss */
  .footer__top .item {
    margin-bottom: 1rem;
  }
}
@media (min-width: 960px) {
  /* line 114, ../scss/components/_footer.scss */
  .home-page .region-inferior {
    background-image: url("../images/background/bk-desktop-inferior.svg");
    padding-top: 13rem;
  }

  /* line 121, ../scss/components/_footer.scss */
  .footer__top .share-menu {
    align-items: center;
    display: flex;
  }
  /* line 124, ../scss/components/_footer.scss */
  .footer__top .share-menu:before {
    height: 5rem;
    margin: 0 4rem;
    width: .2rem;
  }
  /* line 129, ../scss/components/_footer.scss */
  .footer__top .share-menu ul {
    justify-content: flex-start;
  }
  /* line 133, ../scss/components/_footer.scss */
  .footer__top .share-menu ul li a span {
    font-size: 3.2rem;
  }
  /* line 140, ../scss/components/_footer.scss */
  .footer__top .item {
    min-width: 140px;
  }
  /* line 142, ../scss/components/_footer.scss */
  .footer__top .item:first-child {
    align-items: center;
    display: flex;
  }
}
