// ==========================================================================
// COLORS : Eje.: background: color( primary, 50 );
// ==========================================================================

$colors: (
   primary: (
      50  :#CAF4FF,
      100 :#bbdefb,
      200 :#90caf9,
      300 :#53B6D4,
      400 :#42a5f5,
      500 :#26A0C4,
      600 :#1565c0,
      700 :#0d47a1,
      800 :#0E3863,
      900 :#0F3E4D,
   ),
   secondary: (
      500 :#FF9646
   ),
   complementary: (
      50  :#fce4ec,
      100 :#f8bbd0,
      200 :#f8afd7,
      300 :#E39DB1,
      400 :#ee6f9a,
      500 :#D46887,
      600 :#bb5c77,
      700 :#b64e6b,
      800 :#a73c5a,
      900 :#874256
   ),
   alert: (
      success  : #28A745,
      error    : #EE0004,
      warning  : #FFC100
   ),
   grayscale: (
      white    : #ffffff,
      gray-1   : #eee, 
      gray-2   : #bdbdbd,
      gray-3   : #9e9e9e,
      gray-4   : #757575,
      black    : #000000
   ),
   background :(
      light    :#fdc1a9,
      dark     :#965944,
      highlight:#fc9f95
   )
);