.nav__list {
    display:flex;
    font-size: map-get($sizes, "thumb");
    font-weight: map-get($weights, "semi_bold");    
    &--column {
        @include nav(column, start, none);
        a{
            margin-bottom: 1rem;
        }
    }
    &--row {
        @include nav(row, start, none);
        a{
            margin-right: 1rem;
        }
    }
}
.breadcrumb{
    display: none;
    left: 0;
    position: absolute;
    top: 3.6rem;
    width: 100%;
    z-index: 1;
    ul{
        align-items: center;
        display: flex;
        list-style: none;
        margin:0;
        li{
            color:color(primary,50);
            margin-right: .6rem;
            padding: 0;
            &:after{
                content: "/";
                margin-left: .6rem;
            }
            &:last-child{
                margin-right: 0;
                &:after{
                    content: none;
                }
            }
            a{
                color:color(primary,50);
            }
        }
    }
}
@include mq-min(lg){
    .breadcrumb{
        display: block;
    }
}