table,
.table {
  border: 1px solid color(grayscale, black);
  width: 100%;
  thead {
    background-color: color(primary, 100);
  }
  th,
  td {
    border: 1px solid color(grayscale, black);
    border-collapse: collapse;
    caption-side: bottom;
    padding: 0.3em;
    text-align: left;
    vertical-align: top;
    width: 25%;
  }
  caption {
    padding: 0.3em;
    text-align: left;
  }
  &--black {
    border: 0;
    width: 100%;
    th,
    td {
      border: 0;
    }
    caption {
      background: color(grayscale, black);
      color: #fff;
    }
    th {
      background: color(grayscale, gray-3);
    }
    th,
    td {
      &:hover {
        background-color: color(grayscale, gray-2);
      }
    }
  }
}

@include mq-max(sm) {
  table,
  .table {
    border: 0;
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }
    td,
    th {
      width: 100%;
    }
    caption {
      display: none;
      visibility: hidden;
    }
    thead {
      display: none;
    }
    tbody {
      tr {
        height: auto;
        padding: 8px 0;
      }
      th {
        background-color: color(primary, 100);
        text-align: center;
      }
      td {
        &:before {
          color: color(grayscale, gray-3);
          content: attr(data-th) "  ";
          text-align: left;
        }
      }
    }
    &--black {
      thead {
        display: none;
      }
      td {
        display: flex;
        font-size: map-get($sizes, small);
        text-align: left;
        width: 100%;
      }
      td:before {
        color: color(grayscale, gray-4);
        content: attr(data-th) "  ";
        display: block;
        font-size: map-get($sizes, small);
        text-align: left;
      }
    }
  }
}
