.title{
    font-size: map-get($sizes,half);
    line-height: map-get($lineheight,lh-half);
    margin-bottom: 1rem;
    padding-left: 2.4rem;
    position: relative;
    &:before{
        background: color(secondary,500);
        border-radius: 20px;
        content: '';
        display: block;
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: .6rem;
    }
}
@include mq-min(md){
    .title{
        font-size: map-get($sizes,large);
        line-height: map-get($lineheight,lh-large);
    }
}