form{
    select{
        @include prefix(appearance,none, webkit moz o ms);
        background: url('../images/icons/arrow-select.svg') no-repeat center color(grayscale,white);
        background-position-x: calc(100% - 15px);
        background-size: 2.5rem;
        border:1px solid color(secondary,500);
        border-radius: 50px;
        font-size: 1.6rem;
        font-weight: 400;
        height: 45px;
        padding: 0 15px;
        padding-right: 30px;
        width: 100%;
        &:hover,
        &:focus{
            outline: none;
        }
    }
    p.error{
        color:color(primary,50);
        font-size: 1.4rem;
        margin:.3rem 0 0;
    }
    label{
        display: block;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    @include placeholder('input', color(secondary, 500), normal, 1.6rem);
    @include placeholder('textarea', color(secondary, 500), normal, 1.6rem);
    input{
        @include prefix(appearance,none, webkit moz o ms);
        background: color(grayscale,white);
        border:1px solid color(secondary, 500);
        border-radius: 50px;
        color:color(grayscale,500);
        font-size: 1.6rem;
        font-weight: 400;
        height: 45px;
        padding: 0 15px;
        width: 100%;
        &:hover,
        &:focus{
            outline: none;
        }
        &[type="checkbox"]{
            border-radius: 8px;
            height: 3rem;
            width: 3rem;
            &:checked{
                background: url('../images/icons/checked.svg') no-repeat center;
                background-size: 2rem;
            }
        }
        &.error{
            border-color:red;
        }
        &[type="radio"]{
            border-radius: 100%;
            height: 3rem;
            position: relative;
            width: 3rem;
            &:checked{
                border-color: color(primary,500);
                &:after{
                    opacity: 1;
                }
            }
            &:after{
                background: color(primary,500);
                border-radius: 100%;
                content: '';
                display: block;
                height: 1.5rem;
                left: 50%;
                opacity: 0;
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                width: 1.5rem;
            }
        }
    }
    .form-group{
        margin-bottom: 0;
    }
    .field{
        padding-bottom: .5rem;
        position: relative;
        &:before{
            content: '';
            border:1px solid color(secondary,500);
            border-radius: 50px;
            display: block;
            left: 0;
            height: calc(100% - .2rem);
            position: absolute;
            top: .2rem;
            width: 100%;
        }
        input,textarea,select{
            z-index: 1;
            position: relative;
        }
    }
    .form-textarea{
        .field{
            &:before{
                border-radius: 8px;
            }
        }
    }
    .form-check{
        padding: 0;
        .field{
            display: flex;
            flex-wrap: wrap;
            &:before{
                border-radius: 8px;
                height: calc(3rem - .2rem);
                top:.5rem;
                width: 3rem;
            }
        }
        &.form-radios{
            align-items: center;
            .field{
                &::before{
                    border-radius: 100%;
                }
            }
        }
        label{
            font-size: 1.4rem;
            line-height: 1.8rem;
            margin-left: 1rem;
            max-width: 80%;
            text-transform: inherit;
        }
        a{
            color:color(grayscale,500);
            text-decoration: underline;
        }
    }
    textarea{
        border:1px solid color(secondary,500);
        border-radius: 8px;
        display: block;
        min-height: 40px;
        width: 100%;
        padding: 1.5rem;
    }
    .form-actions{
        display: flex;
        justify-content: center;
    }
}
.message-ok{
    align-items: center;
    background: color(primary,100);
    border-radius: 8px;
    display: flex;
    margin-bottom: 2rem;
    padding: 1.2rem;
    position: relative;
    .image{
        width: 4rem;
        img{
            display: block;
            height: auto;
            width: 100%;
        }
    }
    .text{
        max-width: calc(100% - 4rem);
        padding-left: 1.6rem;
    }
    p{
        margin:0;
    }
}
.contact{
    .message-ok{
        color:color(grayscale,800);
    }
}
@include mq-min(md){
}

@include mq-min(lg){
}
@include mq-min(xl){
}