@keyframes moveArrow {
   0% {
      left: -.5rem;
      @include prefix(transition , all .3s linear, webkit moz o ms);
   }
   50% {
      left: 0rem;
      @include prefix(transition , all .3s linear, webkit moz o ms);
   }
   100%{
      left: -.5rem;
      @include prefix(transition , all .3s linear, webkit moz o ms);
   }
}
@-webkit-keyframes moveArrow {
   0% {
      left: -.5rem;
      @include prefix(transition , all .3s linear, webkit moz o ms);
   }
   50% {
      left: 0rem;
      @include prefix(transition , all .3s linear, webkit moz o ms);
   }
   100%{
      left: -.5rem;
      @include prefix(transition , all .3s linear, webkit moz o ms);
   }
}
a, button {
   color: color( secondary, 500 );
	text-decoration: none;
	outline: 0;
   transition: color .1s ease-out;
   &.button {
      &:hover {
         text-decoration: none;
      }
   }
	&:hover, &:focus {
      color: color( secondary, 900 );
      outline: none;
      @include mq-max(sm){
         text-decoration: none;
      }
   }
}

.links{
   font-weight: bold;
   text-decoration: underline;
}
.link{
   color:color(primary,600);
   display: inline-block;
   font-weight: 600;
   padding: 1rem;
   transition: all .5s;
   span[class*="icon-"]{
      display: inline-block;
      font-size: 1.8rem;
      margin-left: 1rem;
      position: relative;
      vertical-align: middle;
   }
   &:hover,
   &:focus{
      background: color(secondary,50);
      color:color(secondary,800);
      text-decoration: none;
      span[class*="icon-"]{
         right: -.5rem;
         @include prefix(animation , moveArrow .9s infinite, webkit moz o ms);
      }
   }
}