@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8ingfc');
  src:  url('fonts/icomoon.eot?8ingfc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8ingfc') format('truetype'),
    url('fonts/icomoon.woff?8ingfc') format('woff'),
    url('fonts/icomoon.svg?8ingfc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-search-black:before {
  content: "\e91c";
}
.icon-Arrow-down:before {
  content: "\e900";
}
.icon-Arrow-left-long:before {
  content: "\e901";
}
.icon-Arrow-left:before {
  content: "\e902";
}
.icon-Arrow-right-long:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-Instagram:before {
  content: "\e906";
}
.icon-left-square:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e90a";
}
.icon-right-square:before {
  content: "\e90b";
}
.icon-tel:before {
  content: "\e90c";
}
